* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    width: 100%;
    max-width: 600px;
    text-align: center;
    overflow: hidden;
}

.post-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.post-images .image-container {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.post-images .image-container:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.post-images .image-container .delete-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 2;
    color: red;
}

.post-images .image-container:hover .delete-icon {
    opacity: 1;
    pointer-events: auto;
}

.post-images .image-container:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.post-images .image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.post-images .image:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-title {
    font-size: 28px;
    font-weight: bold;
    color: #444;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333333;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    margin-top: 5px;
}

input:focus,
textarea:focus {
    border-color: dodgerblue;
    outline: none;
    box-shadow: 0 0 5px rgba(108, 99, 255, 0.5);
}

.error-input {
    color: red;
}

button[type="submit"] {
    background-color: dodgerblue;
}

button[type="submit"],
button[type="button"],
.cancel-edit {
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: cornflowerblue;
}

.cancel-edit-container {
    background-color: crimson;
    margin-top: 0;
}

.cancel-edit-container:hover {
    background-color: brown;
    text-decoration: none;
}

.cancel-edit:hover {
    color: #ffffff;
}

button,
.cancel-edit {
    margin-top: 10px;
}

a {
    color: dodgerblue;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

a:hover {
    color: cornflowerblue;
}

.login-link, .register-link, .logout-link {
    text-align: center;
    margin-top: 20px;
}

.error-input {
    margin-bottom: 35px;
}
