* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    display: flex;
    flex-direction: column;
}

.post {
    position: relative;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.post-icons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

.post-container {
    display: flex;
    align-items: flex-start;
}

.post-votes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.vote-button {
    background: none;
    border: none;
    cursor: pointer;
}

.vote-button i {
    font-size: 1.5rem;
    color: #333;
}

.vote-count {
    margin: 5px 0;
    font-weight: bold;
}

.comment-form {
    margin-top: 15px;
}

.comment-section {
    margin-top: 15px;
}

.content,
.post-info {
    margin: 10px 0;
}

.user-posts-link {
    padding: 2px 4px;
    color: cornflowerblue;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2em;
}

.content {
    font-weight: bold;
    font-size: larger;
}

.image {
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    margin: 10px 0;
}

.comment,
.comment-reply {
    padding: 5px;
    margin-bottom: 15px;
    border-left: 2px solid;
}

.comment,
.comment-reply {
    display: flex;
    flex-direction: row;
    background-color: white;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.comment-icons,
.reply-icons,
.post-icons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

.comment-icons i,
.reply-icons i,
.post-icons i {
    cursor: pointer;
    font-size: 1.2rem;
    color: #666;
    transition: color 0.3s ease, transform 0.2s ease;
}

.comment-icons .delete-icon:hover,
.reply-icons .delete-icon:hover {
    color: #dc3545;
    transform: scale(1.1);
}

.post-icons .share-icon:hover,
.comment-icons .edit-icon:hover,
.reply-icons .edit-icon:hover {
    color: #2575fc;
    transform: scale(1.1);
}

.share-icon.fa-check,
.share-icon.fa-check:hover {
    color: #28a745;
}

.comment-reply {
    margin-left: 25px;
    margin-top: 10px;
}

.comment-content {
    font-size: larger;
    margin: 10px 0;
}

.comment-user,
.reply-user {
    margin-top: 10px;
    font-weight: bold;
}

.post-info,
.comment-info,
.reply-info {
    font-style: italic;
    color: #666;
}

.comment-info,
.reply-info {
    font-size: small;
}

.comment-input,
.reply-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-comment,
.submit-reply {
    padding: 10px 15px;
    font-size: 16px;
    background-color: dodgerblue;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #f7f7f7;
}

.submit-comment:hover,
.submit-reply:hover {
    background-color: cornflowerblue;
}

.reply-input,
.submit-reply {
    margin-left: 25px;
}

.reply-input {
    margin-top: 10px;
}

.upvoted i {
    color: #28a745;
}

.downvoted i {
    color: #dc3545;
}

.comment-section, .reply-section {
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f7f7f7;
}

.comment-section summary, .reply-section summary {
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
    padding: 5px;
}

.comment-section summary:hover, .reply-section summary:hover {
    text-decoration: underline;
}
